Adafruit-Blinka==8.9.0
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-dht==3.7.8
adafruit-circuitpython-requests==1.12.11
adafruit-circuitpython-typing==1.8.3
Adafruit-PlatformDetect==3.37.0
Adafruit-PureIO==1.1.9
asgiref==3.5.2
board==1.0
Django==4.1.4
pip==22.3.1
pyftdi==0.54.0
pyserial==3.5
pyusb==1.2.1
RPi.GPIO==0.7.1
rpi-ws281x==4.3.4
setuptools==65.5.1
sqlparse==0.4.3
sysv-ipc==1.1.0
typing_extensions==4.4.0
wheel==0.38.4
